{
  "semi": false,     
  "singleQuote": true,
  "printWidth": 75,
  "tabWidth": 2,
  "trailingComma": "all",
  "arrowParens": "always",
  "bracketSpacing": true,
  "jsxBracketSameLine": false,
  "jsxSingleQuote": false,
  "endOfLine": "lf"
}
